:root{
    --clr-neutral-900: hsl(207,19%,9%);
    --clr-neutral-100: hsl(0,0%,100%);
    --clr-accent-400: hsl(142,90%,61%)
}

*,
*::before,
*::after{
    box-sizing: border-box;
  
    scroll-behavior: smooth;
}

html,body{
    height: 100%;
    min-width: 640px;
    margin: 0;
    padding: 0;
    background: lightblue;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

nav{
   
    width: 100%;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    padding-top: 10px;
    background: 
    #fbfbfb;
    list-style-type: none;
    display: flex;
    justify-content: center;
    line-height: 2;
    font-size: 16px;

}

.menu > li{   
    padding: 6px 30px;
}

.container {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}
#landing{
    color: black;
    background-image: url("./img/background.jpg");
    background-repeat:no-repeat;
    background-position: 50% 75% ; 
    background-size: cover;
  
}
#scroll{
    
    margin-top: 10rem;
    letter-spacing: 0.169em;
}

#intro{
    margin-top: 10rem;
    font-size: 55px;
}
#bio{
    font-size: 34px;
}

.link {
    font-size: 21px;
    margin-top: 5rem;
   
   
}
.link a{
    color: black;
    text-decoration: none;
}
.link a:hover{
    color: rgba(27, 27, 27, 0.705);
}

#myWork{
    background:lightblue;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    
    flex-direction: row;
    flex-wrap: wrap;
}

#footer{
    padding: 10px 20px;
    background: lightblue;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    list-style-type: none;
    display: flex;
    justify-content: center;
    line-height: 2;
    font-size: 16px;
}
li a{
  
    text-decoration: none;
    color: black;
}
li a:hover{
    color: blue;
}

#scroll a span {
    
    position:absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
 
    width: 24px;
    height: 24px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    animation: sdb05 1.5s infinite;

  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

  #contact {

    padding: 25px;
    font-size: 34px;
    background: hsl(0, 100%, 99%);
    justify-content: center;
    align-items: center;
    background-image: url("./img/newsletter.png");
    background-repeat: no-repeat;
    background-position: center right;
  }
  #contact h3{
      margin-bottom: 13px;
  }
  
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 10px 0 5px;
    padding: 10px;
  }
  #contact #message{
      height: 200px;
  }


  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: lightblue;
    color: rgb(20, 20, 20);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type="submit"]:hover {
    background: lightblue;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  

  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }


/* ================================= 
  Media Queries
==================================== */




@media (max-width: 900px){
    
    
	nav {
		display: flex;
        font-size: 24px;
        
	}
	.menu {
		flex-direction: column;
		align-items: center;
	}
    #scroll a span{
        right: auto;
        left: auto;
        margin-right: auto;
        margin-left: auto;
        line-height: 2;
    }
    #contact{
        background-image: none;
    }
    
}

@media (min-width: 2000px){
    
    #myWork{
        margin: 0 300px 0;
    }
    
}






/* ================================= 
  Cards
==================================== */

#link_two {
   
    text-align: center;
    background-color: lightblue;
    min-height: 15vh;
    
}

#link_two > a span {
    position: absolute;
   
    margin-top: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 24px;
    height: 24px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    animation: sdb05 1.5s infinite;
}

#link_two  a {
    text-decoration: none;
    color: black;
}
#link_two  a:hover {
    text-decoration: none;
    color: rgba(27, 27, 27, 0.705);
}




/* ================================= 
  Cards
==================================== */



.cards{

    border: 1px solid var(--clr-neutral-100);
    align-self: center;
    margin: 48px 48px;
    background: var(--clr-neutral-900);
    background-image: url("./img/background.jpg");
    background-size: cover;
    color: var(--clr-neutral-100);  
    line-height: 1.7;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: .5rem;
    overflow: hidden;

    transition: transform 500ms ease;

    /* ch unit relative to the width of 0 character*/
    
}


.cards:hover {
  transform: scale(1.05);
}

.cards:focus-within{
  transform: scale(1.05);
}
.card-content{
  --padding:1.5rem;
  padding: var(--padding);
  background: black;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(255 0% 50% / 1) 20%,
    hsl(0 0% 0% / 100));


}

@media (prefers-reduced-motion: reduce){
  
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 00.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}

@media (hover) {
  .card-content{
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .cards:hover .card-content,
  .card:focus-within .card-content{
  transform:  translateY(0);
  transition-delay: 200ms; 
  }
  .cards:focus-within .card-content{
    transition-duration: 0ms;
  }
  .card-content > *:not(.card-title){
    opacity: 0;
    transition: opacity 200ms linear;
  }
    
  .card-content > *:not(.card-title){
    opacity: 0;
    transition: opacity 200ms linear;
  }

  .cards:hover .card-content > *:not(.card-title),
  .cards:focus-within .card-content > *:not(.card-title){
  opacity: 1;
  transition-delay: 500ms;

  }

  .cards-title::after{
    transform: scaleX(0);
  }

}


.card-title {
  position: relative;
  width: max-content;
}

.card-title::after{
  content: "";
  position:absolute;
  left: calc(var(--padding) * -1);
  bottom: 0;
  height: 4px;
  width: calc(100% + var(--padding));
  background: lightblue;
  
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
  transition-delay: 500ms;
}


.cards:hover .card-title::after,
.cards:focus-within .card-title::after{
  transform: scaleX(1);
}




.card-body{
  color: rgb(255 255 255 /0.85);
}



.button{
 
  border-radius: .25rem;
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: black;
  background-color: lightblue;
  padding: 0.5em 1.25em;
}
.button:hover, .button:focus{
  background-color: var(--clr-neutral-100);
}